* {
    margin: 0;
    padding: 0;
}
    html{
        scroll-behavior: smooth;
    }

    section{
        height: 100vh;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: #fff;
        height: 100px;
        position: sticky;
        top: 0;
    }

    h4{
        text-align: center;
        font-size: 38px;
    }

    footer{
        background-color: black;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 36px;
        text-align: center;
    }

    a{
        color: #fff;
    }

    .btn{
        position: fixed;
        top:30%;
        left: 0;
        z-index: 1;
    }



    .red{background-color: red;}
    .green{background-color: green;}
    .blue{background-color: blue;}